<div id="form-page">
  <h2 id="share-workout">Share Your Workout</h2>

  <form class="form create-form">
    <div class="form-group">
      <label id="workout-title" for="workout-title">Workout Title:</label>
      <input class="form-input" type="text" id="workout-title-value"   placeholder=""/>
    </div>
   <div class="field">
  <label id="workout-post" for="workout-description">Create a Workout Post</label>
  <p>Post Content</p>
  <div class="control">
    <textarea class="form-input" id="workout-description" placeholder="Share your awesome workout..."></textarea>
  </div>

    </div>
    <div class="field">
  <label class="label">Workout category</label>
  <div class="control">
    <div class="select is-rounded is-dark">
      <select name="category" id="workout-cat">
        <option value="1">Abs</option>
          <option value="2">Arms</option>
          <option value="3">Back</option>
          <option value="4">Calves</option>
          <option value="5">Chest</option>
          <option value="6">Legs</option>
          <option value="7">Shoulders</option>
      </select>
    </div>
  </div>
</div>
    <div class="form-group">
      <button class="btn button is-dark" type="submit">Submit</button>
    </div>
  </form>
</div>


<script src="/js/createWorkout.js"></script>