{{#if (if_equals workout.user.id userId)}}
<div id="form-page">
  <h2>Edit your Post</h2>
  <form class="form edit-form">
    <div class="form-group">
      <label for="workout-title">Title:</label>
      <input class="form-input" type="textr=" id="workout-title" value="{{workout.title}}"/>
    </div>
    <div class="form-group">
      <label for="workout-description">Description:</label>
      <input class="form-input" type="text" id="workout-description" value="{{workout.description}}"/>
    </div>
    <div class="control">
      <div class="select is-rounded is-link">
        <select name="category" id="workout-cat" workout.category.id>
          <option value="1" {{#if (if_equals workout.category.id 1)}}selected{{/if}}>Abs</option>
          <option value="2" {{#if (if_equals workout.category.id 2)}}selected{{/if}}>Arms</option>
          <option value="3" {{#if (if_equals workout.category.id 3)}}selected{{/if}}>Back</option>
          <option value="4" {{#if (if_equals workout.category.id 4)}}selected{{/if}}>Calves</option>
          <option value="5" {{#if (if_equals workout.category.id 5)}}selected{{/if}}>Chest</option>
          <option value="6" {{#if (if_equals workout.category.id 6)}}selected{{/if}}>Legs</option>
          <option value="7" {{#if (if_equals workout.category.id 7)}}selected{{/if}}>Shoulders</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>

<script src='/js/editWorkout.js'></script>

{{else}}
<a href='/workouts'>Sorry you cannot edit this post please return to the main page</a>
{{/if}}