<div class="hero-image" id="start-screen">
  <img id="title" src="/images/text-font.png" />
  <div class="hero-text">
    <h1>Bringing inspiration and innovative fitness</h1>
    {{! <button class="button is-info button is-ghost" id="load-site-btn">Make it
      Happen</button> }}
  </div>
</div>

<footer id="footer">
  <div class="content has-text-centered">
    <p>
      <a class="fa fa-facebook"></a>
      <a class="fa fa-instagram"></a>
      <a class="fas fa-phone-alt" href="tel:+8131231234"></a>
      <a class="fas fa-envelope" href="mailto:GetFlexed@gmail.com"></a>
    </p>
  </div>
</footer>