<div class="hero-image" id="start-screen">
  <img id="title" src="/images/text-font.png" />
  <div class="hero-text">
    <h1>Bringing inspiration and innovative fitness</h1>
    {{!-- <button class="button is-info button is-ghost" id="load-site-btn">Make it
      Happen</button> --}}
  </div>
</div>


