<div>
  <h2>Login</h2>

  <form id="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>

<script src="/js/userLogin.js"></script>