{{! <div>
  <h2>Login</h2>

  <form id="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>

<script src="/js/userLogin.js"></script>

<div>
  <h2>Signup</h2>

  <form id="signup-form">
    <div>
      <label for="name-signup">Name:</label>
      <input type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

<script src="/js/userSignup.js"></script>
 }}

{{! PLAYING WITH BULMA FORMS }}
<div class="columns is-centered">
  <div class="is-half">

    <h2>Login</h2>
    <form id="login-form">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="email-login"
            placeholder="Email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>

        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            id="password-login"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-dark">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
  <script src="/js/userLogin.js"></script>

  <div class="is-half">
    <h2>Sign Up</h2>
    <form id="signup-form">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="name-signup"
            placeholder="Name"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

        </p>
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="email-signup"
            placeholder="Email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>

        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            id="password-signup"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-dark">
            Create User
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

<script src="/js/userSignup.js"></script>