
<div class="columns is-centered">
  <div class="box-form is-half">

    <h2 id="login" >Welcome,</h2>
    <h3 id="subtitle">Sign in to continue!</h3>
    <form id="login-form">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="email-login"
            placeholder="Email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            id="password-login"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-dark">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
  <script src="/js/userLogin.js"></script>

  <div class="box-form is-half">
    <h2 id="login">Create Account,</h2>
    <h3 id="subtitle">Sign up to get started!</h3>
    <form id="signup-form">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="name-signup"
            placeholder="Name"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            id="email-signup"
            placeholder="Email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            id="password-signup"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-dark">
            Create User
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

<script src="/js/userSignup.js"></script>