<div class="card1">
  <div class="card-content">
    <img class="userPic" src="/images/user-pic.jpg" />
    <div>
      <div>
        <p id="profilename" class="proName">{{user.name}}</p>
        <p id="viewList">View list of workouts you posted</p>

      </div>
    </div>

    <div>
      {{#each workouts as |userWorkout|}}
        <div class="workoutInfo">
          <a id="workoutId" href="/workouts/{{id}}">{{title}}</a>
          <p>Created on: {{format_date createdAt}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>