{{! Profile page of user posted workouts }}
<div>
  <div>
    <h2>{{user.name}}</h2>

  </div>
  <div>
    <h4>My Workouts</h4>
    {{#each workouts as |userWorkout|}}
      <div>
        <p>{{title}}</p>
        <p>Created on: {{format_date createdAt}}</p>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/profile.js"></script>