{{! Profile page of user posted workouts }}
<div class="columns">
  <div class="column is-half">
    <div id="userIcon" class="fas fa-user">
      <h2 class="username" >{{user.name}}</h2>
      <h4 id="subtitle">My Workouts</h4>
      <img src="images/qrcode-get-flex.png">
    </div>
</div>
    <div>
      
      <div >
        {{#each workouts as |userWorkout|}}
          <div class="workoutInfo">
            <a id="workoutId" href="/workouts/{{id}}">{{title}}</a>
            <p>Created on: {{format_date createdAt}}</p>
          </div>
        {{/each}}
      </div>
    </div>
</div>
<script src="/js/profile.js"></script>