<div>
    <h2>Signup</h2>

    <form>
      <div>
        <label for="name-signup">Name:</label>
        <input type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

  <script src="/js/userSignup.js"></script>