body,
html {
  background-color: #0a0a0a;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/workout12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hide {
  display: none;
}

nav {
  text-align: end;
  word-spacing: 1rem;
  font-size: 2vw;
  line-height: 50px;
  height: 50px;
}

a {
  font-family: "Bitter", serif;
  color: white;
  font-size: 1rem;
  text-shadow: 0 0 5px #c2ccec, 0 0 10px #c2ccec, 0 0 20px #c2ccec,
    0 0 30px #c2ccec, 0 0 40px #c2ccec;
}

.hero-text {
  text-align: center;
  color: white;
  line-height: 1vh;
  font-family: "Bitter", serif;
  font-size: 1.4rem;
  font-weight: bolder;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vh;
}

#subtitle {
  font-family: "Bitter", serif;
  line-height: 2;
  padding-top: 0%;
}

.subtitle {
  font-family: "Bitter", serif;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
}

.workout-title {
  font-family: "Alfa Slab One", cursive;
  color: rgb(0, 4, 255);
  border-bottom: solid white;
  font-size: 1.4rem;
}

.work-out {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  mix-blend-mode: hard-light;
  transition: all 0.2s linear;
}

.work-out:hover {
  color: #52bff2;
}

.column {
  padding: 0%;
}

#column1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/woman-weights.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button-div {
  margin-left: 40%;
  margin-bottom: 10%;
}

.box {
  background-color: #363636;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #ffffff;
  display: block;
  font-family: "Bitter", serif;
  padding: 1.5rem;
}

.button.is-info {
  background-color: rgb(0, 4, 255);
  border-color: transparent;
  color: #fff;
  margin-right: 2%;
}

#footer {
  margin-top: 10vh;
  word-spacing: 1rem;
}

#logo {
  height: 4rem;
  float: left;
  position: absolute;
}

#workout {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

#username {
  font-size: 1em;
  color: white;
}

#profilename {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  border-bottom: solid white;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 2%;
}

.title.is-4 {
  font-size: 2.3rem;
  border-bottom: solid white;
  color: #686868;
  margin-right: 60%;
}

#wd {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#viewList {
  text-align: center;
}

.media-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

#form-page {
  background-color: gray;
  text-align: center;
}

#updateForm {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
#workout-post {
  align-content: left;
  text-align: left;
}

#favorites {
  font-size: 4rem;
  text-align: center;
  margin-top: 3%;
}

#favList {
  text-align: center;
}

#comments {
  font-size: 2.3rem;
  color: #686868;
  text-align: center;
  border-bottom: solid white;
  padding-top: 7%;
  padding-bottom: 2%;
}

.form1 {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#addCom {
  margin-top: 4%;
}
