body,
html {
  background-color: #0a0a0a;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  width: 100vw;
}

.hide {
  display: none;
}

a {
  font-family: "Bitter", serif;
  /* margin-left: 88%; */
  color: white;
  font-size: 1rem;
  text-shadow: 0 0 5px #c2ccec, 0 0 10px #c2ccec, 0 0 20px #c2ccec,
    0 0 30px #c2ccec, 0 0 40px #c2ccec;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pullup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-image1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/men-sled.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-text {
  text-align: center;
  color: white;
  line-height: 60px;
  font-family: "Bitter", serif;
  font-size: 1.4rem;
  font-weight: bolder;
}

#hero-text1 {
  font-family: "Bitter", serif;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-top: 2%;
  font-size: 1.7rem;
  color: #ffffff;
  text-shadow: 0 0 5px #c2ccec, 0 0 10px #c2ccec, 0 0 20px #c2ccec,
    0 0 30px #c2ccec, 0 0 40px #c2ccec;
}

#hero-text2 {
  font-family: "Bitter", serif;
  padding-left: 50%;
  color: #ffffff;
  text-shadow: 0 0 5px #c2ccec, 0 0 10px #c2ccec, 0 0 20px #c2ccec,
    0 0 30px #c2ccec, 0 0 40px #c2ccec;
  text-align: center;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
}

.title {
  color: rgb(0, 4, 255);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-family: "Bitter", serif;
}

#titleHeader {
  font-family: "Alfa Slab One", cursive;
  font-size: 3rem;
  font-style: oblique;
  text-align: left;
}

#subtitle {
  font-family: "Bitter", serif;
  line-height: 2;
  padding-top: 0%;
  border-top: solid rgb(0, 4, 255);
}

.subtitle {
  font-family: "Bitter", serif;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
}

.workout-title {
  font-family: "Alfa Slab One", cursive;
  color: rgb(0, 4, 255);
  border-bottom: solid white;
  font-size: 1.4rem;
}

.work-out {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  mix-blend-mode: hard-light;
  transition: all 0.2s linear;
}

.work-out:hover {
  color: #52bff2;
}

.column {
  padding: 0%;
}

#column1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/woman-weights.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button-div {
  margin-left: 40%;
  margin-bottom: 10%;
}

.box {
  background-color: #363636;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #ffffff;
  display: block;
  font-family: "Bitter", serif;
  padding: 1.5rem;
}

.button.is-info {
  background-color: rgb(0, 4, 255);
  border-color: transparent;
  color: #fff;
  margin-right: 2%;
}
